.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-1.824000px;}
._8{width:8.208000px;}
._5{width:10.176000px;}
._6{width:13.488000px;}
._7{width:21.264000px;}
._9{width:56.016000px;}
._4{width:98.736000px;}
._2{width:297.312000px;}
._3{width:413.328000px;}
._0{width:461.376000px;}
._1{width:482.688000px;}
.fc5{color:rgb(90,102,97);}
.fc0{color:rgb(31,41,33);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(113,125,122);}
.fc4{color:rgb(0,0,255);}
.fc3{color:rgb(65,76,69);}
.fs1{font-size:38.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:66.000000px;}
.y4{bottom:42.339005px;}
.y3{bottom:53.263003px;}
.y2{bottom:65.701003px;}
.y21{bottom:135.173991px;}
.y20{bottom:149.892009px;}
.y1f{bottom:164.610043px;}
.y1e{bottom:179.328044px;}
.y1d{bottom:194.046000px;}
.y1c{bottom:208.764018px;}
.y1b{bottom:223.482036px;}
.y1a{bottom:246.200023px;}
.y19{bottom:259.999034px;}
.y0{bottom:272.000000px;}
.y18{bottom:273.798015px;}
.y17{bottom:328.994029px;}
.y16{bottom:342.793010px;}
.y15{bottom:370.391032px;}
.y14{bottom:406.908016px;}
.y13{bottom:421.626018px;}
.y12{bottom:451.062027px;}
.y11{bottom:465.780025px;}
.y10{bottom:480.498027px;}
.yf{bottom:509.934017px;}
.ye{bottom:524.652019px;}
.yd{bottom:554.088023px;}
.yc{bottom:568.806025px;}
.yb{bottom:583.524028px;}
.ya{bottom:598.242023px;}
.y9{bottom:612.960017px;}
.y8{bottom:635.678020px;}
.y7{bottom:658.396022px;}
.y6{bottom:699.793021px;}
.y5{bottom:713.592021px;}
.y1{bottom:724.795021px;}
.h4{height:26.403320px;}
.h6{height:33.328125px;}
.h5{height:33.351562px;}
.h3{height:44.698242px;}
.h2{height:81.105003px;}
.h1{height:541.000000px;}
.h0{height:841.900024px;}
.w1{width:468.500000px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.x7{left:72.000000px;}
.x0{left:80.000000px;}
.x9{left:90.000000px;}
.x3{left:121.302999px;}
.x2{left:145.724000px;}
.x5{left:181.586001px;}
.x4{left:193.443996px;}
.x6{left:244.088000px;}
.x8{left:324.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._a{margin-left:-2.432000pt;}
._8{width:10.944000pt;}
._5{width:13.568000pt;}
._6{width:17.984000pt;}
._7{width:28.352000pt;}
._9{width:74.688000pt;}
._4{width:131.648000pt;}
._2{width:396.416000pt;}
._3{width:551.104000pt;}
._0{width:615.168000pt;}
._1{width:643.584000pt;}
.fs1{font-size:50.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:88.000000pt;}
.y4{bottom:56.452006pt;}
.y3{bottom:71.017338pt;}
.y2{bottom:87.601337pt;}
.y21{bottom:180.231988pt;}
.y20{bottom:199.856012pt;}
.y1f{bottom:219.480057pt;}
.y1e{bottom:239.104059pt;}
.y1d{bottom:258.728001pt;}
.y1c{bottom:278.352024pt;}
.y1b{bottom:297.976048pt;}
.y1a{bottom:328.266697pt;}
.y19{bottom:346.665379pt;}
.y0{bottom:362.666667pt;}
.y18{bottom:365.064020pt;}
.y17{bottom:438.658705pt;}
.y16{bottom:457.057346pt;}
.y15{bottom:493.854710pt;}
.y14{bottom:542.544022pt;}
.y13{bottom:562.168023pt;}
.y12{bottom:601.416036pt;}
.y11{bottom:621.040034pt;}
.y10{bottom:640.664036pt;}
.yf{bottom:679.912023pt;}
.ye{bottom:699.536025pt;}
.yd{bottom:738.784031pt;}
.yc{bottom:758.408034pt;}
.yb{bottom:778.032037pt;}
.ya{bottom:797.656030pt;}
.y9{bottom:817.280023pt;}
.y8{bottom:847.570693pt;}
.y7{bottom:877.861362pt;}
.y6{bottom:933.057362pt;}
.y5{bottom:951.456028pt;}
.y1{bottom:966.393361pt;}
.h4{height:35.204427pt;}
.h6{height:44.437500pt;}
.h5{height:44.468750pt;}
.h3{height:59.597656pt;}
.h2{height:108.140004pt;}
.h1{height:721.333333pt;}
.h0{height:1122.533366pt;}
.w1{width:624.666667pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.x7{left:96.000000pt;}
.x0{left:106.666667pt;}
.x9{left:120.000000pt;}
.x3{left:161.737332pt;}
.x2{left:194.298667pt;}
.x5{left:242.114669pt;}
.x4{left:257.925329pt;}
.x6{left:325.450667pt;}
.x8{left:432.000000pt;}
}
