.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893066;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:36.000000px;}
._a{width:113.424000px;}
._3{width:130.704000px;}
._c{width:153.360000px;}
._6{width:176.160000px;}
._8{width:273.360000px;}
._b{width:365.328000px;}
._7{width:369.312000px;}
._9{width:485.328000px;}
._d{width:498.672000px;}
._4{width:504.048000px;}
._1{width:533.376000px;}
._5{width:554.688000px;}
._2{width:562.704000px;}
.fc5{color:rgb(90,102,97);}
.fc0{color:rgb(31,41,33);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(113,125,122);}
.fc4{color:rgb(0,0,255);}
.fc3{color:rgb(65,76,69);}
.fs1{font-size:38.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:66.000000px;}
.y5{bottom:15.483002px;}
.y4{bottom:26.407001px;}
.y3{bottom:38.845000px;}
.y2{bottom:57.818000px;}
.y25{bottom:74.569995px;}
.y0{bottom:86.000000px;}
.y24{bottom:88.369006px;}
.y23{bottom:143.564990px;}
.y22{bottom:157.364001px;}
.y21{bottom:171.163013px;}
.y20{bottom:200.599003px;}
.y1f{bottom:215.317004px;}
.y1e{bottom:244.753009px;}
.y1d{bottom:259.470996px;}
.y1c{bottom:274.189013px;}
.y1b{bottom:288.907001px;}
.y1a{bottom:303.624988px;}
.y19{bottom:318.343005px;}
.y18{bottom:333.060992px;}
.y17{bottom:347.779010px;}
.y16{bottom:362.496997px;}
.y15{bottom:377.215014px;}
.y14{bottom:391.933002px;}
.y13{bottom:406.650989px;}
.y12{bottom:436.086993px;}
.y11{bottom:450.804996px;}
.y10{bottom:465.522998px;}
.yf{bottom:480.241000px;}
.ye{bottom:509.677005px;}
.yd{bottom:553.830997px;}
.yc{bottom:568.548999px;}
.yb{bottom:597.985003px;}
.ya{bottom:612.702998px;}
.y9{bottom:627.421000px;}
.y8{bottom:642.138998px;}
.y7{bottom:656.856999px;}
.y6{bottom:671.575000px;}
.y1{bottom:682.778000px;}
.h4{height:26.403320px;}
.h6{height:32.507812px;}
.h5{height:33.351562px;}
.h3{height:44.698242px;}
.h2{height:73.222000px;}
.h1{height:673.000000px;}
.h0{height:792.000000px;}
.w1{width:465.000000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x0{left:71.000000px;}
.xa{left:73.350000px;}
.xb{left:90.000000px;}
.x4{left:119.227999px;}
.x8{left:137.816003px;}
.x2{left:154.074000px;}
.x5{left:203.113003px;}
.x3{left:207.691002px;}
.x9{left:246.012994px;}
.x6{left:279.000000px;}
.x7{left:280.350006px;}
.xc{left:376.799988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:48.000000pt;}
._a{width:151.232000pt;}
._3{width:174.272000pt;}
._c{width:204.480000pt;}
._6{width:234.880000pt;}
._8{width:364.480000pt;}
._b{width:487.104000pt;}
._7{width:492.416000pt;}
._9{width:647.104000pt;}
._d{width:664.896000pt;}
._4{width:672.064000pt;}
._1{width:711.168000pt;}
._5{width:739.584000pt;}
._2{width:750.272000pt;}
.fs1{font-size:50.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:88.000000pt;}
.y5{bottom:20.644002pt;}
.y4{bottom:35.209334pt;}
.y3{bottom:51.793334pt;}
.y2{bottom:77.090666pt;}
.y25{bottom:99.426660pt;}
.y0{bottom:114.666667pt;}
.y24{bottom:117.825342pt;}
.y23{bottom:191.419987pt;}
.y22{bottom:209.818668pt;}
.y21{bottom:228.217350pt;}
.y20{bottom:267.465337pt;}
.y1f{bottom:287.089339pt;}
.y1e{bottom:326.337345pt;}
.y1d{bottom:345.961328pt;}
.y1c{bottom:365.585351pt;}
.y1b{bottom:385.209334pt;}
.y1a{bottom:404.833317pt;}
.y19{bottom:424.457340pt;}
.y18{bottom:444.081323pt;}
.y17{bottom:463.705346pt;}
.y16{bottom:483.329329pt;}
.y15{bottom:502.953353pt;}
.y14{bottom:522.577335pt;}
.y13{bottom:542.201318pt;}
.y12{bottom:581.449324pt;}
.y11{bottom:601.073327pt;}
.y10{bottom:620.697330pt;}
.yf{bottom:640.321334pt;}
.ye{bottom:679.569340pt;}
.yd{bottom:738.441329pt;}
.yc{bottom:758.065332pt;}
.yb{bottom:797.313338pt;}
.ya{bottom:816.937331pt;}
.y9{bottom:836.561334pt;}
.y8{bottom:856.185331pt;}
.y7{bottom:875.809333pt;}
.y6{bottom:895.433333pt;}
.y1{bottom:910.370667pt;}
.h4{height:35.204427pt;}
.h6{height:43.343750pt;}
.h5{height:44.468750pt;}
.h3{height:59.597656pt;}
.h2{height:97.629333pt;}
.h1{height:897.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:620.000000pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x0{left:94.666667pt;}
.xa{left:97.800000pt;}
.xb{left:120.000000pt;}
.x4{left:158.970666pt;}
.x8{left:183.754671pt;}
.x2{left:205.432000pt;}
.x5{left:270.817337pt;}
.x3{left:276.921336pt;}
.x9{left:328.017326pt;}
.x6{left:372.000000pt;}
.x7{left:373.800008pt;}
.xc{left:502.399984pt;}
}
