.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.584000px;}
._6{width:10.416000px;}
._5{width:15.216000px;}
._3{width:271.104000px;}
._4{width:403.152000px;}
._1{width:435.168000px;}
._2{width:456.480000px;}
.fc5{color:rgb(90,102,97);}
.fc0{color:rgb(31,41,33);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(113,125,122);}
.fc4{color:rgb(0,0,255);}
.fc3{color:rgb(65,76,69);}
.fs1{font-size:38.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:66.000000px;}
.y5{bottom:28.911003px;}
.y4{bottom:39.835002px;}
.y3{bottom:52.273002px;}
.y2{bottom:71.246001px;}
.y19{bottom:136.969020px;}
.y0{bottom:148.000000px;}
.y18{bottom:150.768001px;}
.y17{bottom:205.963984px;}
.y16{bottom:219.762996px;}
.y15{bottom:233.562007px;}
.y14{bottom:288.757991px;}
.y13{bottom:311.476008px;}
.y12{bottom:356.912013px;}
.y11{bottom:402.348003px;}
.y10{bottom:417.066005px;}
.yf{bottom:446.501994px;}
.ye{bottom:461.219996px;}
.yd{bottom:475.937999px;}
.yc{bottom:490.656001px;}
.yb{bottom:505.374003px;}
.ya{bottom:528.091999px;}
.y9{bottom:542.810000px;}
.y8{bottom:565.527995px;}
.y7{bottom:620.723998px;}
.y6{bottom:634.522998px;}
.y1{bottom:669.349998px;}
.h4{height:26.403320px;}
.h5{height:32.531250px;}
.h7{height:33.328125px;}
.h6{height:33.351562px;}
.h3{height:44.730469px;}
.h2{height:86.650002px;}
.h1{height:611.000000px;}
.h0{height:792.000000px;}
.w1{width:465.000000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x0{left:71.000000px;}
.x8{left:114.549999px;}
.x4{left:119.227999px;}
.x2{left:154.074000px;}
.x5{left:203.113003px;}
.x3{left:207.691002px;}
.x6{left:248.257007px;}
.x7{left:304.099994px;}
.x9{left:376.799988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-2.112000pt;}
._6{width:13.888000pt;}
._5{width:20.288000pt;}
._3{width:361.472000pt;}
._4{width:537.536000pt;}
._1{width:580.224000pt;}
._2{width:608.640000pt;}
.fs1{font-size:50.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:88.000000pt;}
.y5{bottom:38.548004pt;}
.y4{bottom:53.113336pt;}
.y3{bottom:69.697336pt;}
.y2{bottom:94.994668pt;}
.y19{bottom:182.625360pt;}
.y0{bottom:197.333333pt;}
.y18{bottom:201.024001pt;}
.y17{bottom:274.618646pt;}
.y16{bottom:293.017328pt;}
.y15{bottom:311.416009pt;}
.y14{bottom:385.010654pt;}
.y13{bottom:415.301345pt;}
.y12{bottom:475.882684pt;}
.y11{bottom:536.464005pt;}
.y10{bottom:556.088006pt;}
.yf{bottom:595.335992pt;}
.ye{bottom:614.959995pt;}
.yd{bottom:634.583998pt;}
.yc{bottom:654.208001pt;}
.yb{bottom:673.832005pt;}
.ya{bottom:704.122665pt;}
.y9{bottom:723.746667pt;}
.y8{bottom:754.037327pt;}
.y7{bottom:827.631997pt;}
.y6{bottom:846.030664pt;}
.y1{bottom:892.466665pt;}
.h4{height:35.204427pt;}
.h5{height:43.375000pt;}
.h7{height:44.437500pt;}
.h6{height:44.468750pt;}
.h3{height:59.640625pt;}
.h2{height:115.533335pt;}
.h1{height:814.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:620.000000pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x0{left:94.666667pt;}
.x8{left:152.733332pt;}
.x4{left:158.970666pt;}
.x2{left:205.432000pt;}
.x5{left:270.817337pt;}
.x3{left:276.921336pt;}
.x6{left:331.009342pt;}
.x7{left:405.466658pt;}
.x9{left:502.399984pt;}
}
