.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893066;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:36.000000px;}
._a{width:108.048000px;}
._3{width:125.280000px;}
._c{width:145.296000px;}
._6{width:170.736000px;}
._b{width:238.608000px;}
._8{width:267.936000px;}
._7{width:363.936000px;}
._9{width:479.904000px;}
._4{width:498.672000px;}
._1{width:527.952000px;}
._5{width:549.264000px;}
._2{width:557.280000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(31,41,33);}
.fs1{font-size:38.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:66.000000px;}
.y5{bottom:28.911003px;}
.y4{bottom:39.835002px;}
.y3{bottom:52.273002px;}
.y2{bottom:71.246001px;}
.y24{bottom:75.860011px;}
.y0{bottom:87.000000px;}
.y23{bottom:89.659022px;}
.y22{bottom:144.855006px;}
.y21{bottom:158.653987px;}
.y20{bottom:172.452998px;}
.y1f{bottom:201.888989px;}
.y1e{bottom:216.606990px;}
.y1d{bottom:246.042994px;}
.y1c{bottom:260.761012px;}
.y1b{bottom:275.478999px;}
.y1a{bottom:290.196986px;}
.y19{bottom:304.915004px;}
.y18{bottom:319.632991px;}
.y17{bottom:334.351008px;}
.y16{bottom:349.068995px;}
.y15{bottom:363.787013px;}
.y14{bottom:378.505000px;}
.y13{bottom:393.222987px;}
.y12{bottom:422.658992px;}
.y11{bottom:437.376994px;}
.y10{bottom:452.094996px;}
.yf{bottom:466.812999px;}
.ye{bottom:496.249003px;}
.yd{bottom:540.402995px;}
.yc{bottom:555.120997px;}
.yb{bottom:584.557002px;}
.ya{bottom:599.274997px;}
.y9{bottom:613.992999px;}
.y8{bottom:628.710997px;}
.y7{bottom:643.428998px;}
.y6{bottom:658.146998px;}
.y1{bottom:669.349998px;}
.h4{height:26.403320px;}
.h6{height:32.507812px;}
.h5{height:33.351562px;}
.h3{height:44.698242px;}
.h2{height:86.650002px;}
.h1{height:672.000000px;}
.h0{height:792.000000px;}
.w1{width:465.000000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x0{left:71.000000px;}
.xa{left:73.350000px;}
.xb{left:91.350000px;}
.x4{left:119.227999px;}
.x8{left:137.816003px;}
.x2{left:154.074000px;}
.x5{left:203.113003px;}
.x3{left:207.691002px;}
.x9{left:246.012994px;}
.x6{left:279.000000px;}
.x7{left:280.350006px;}
.xc{left:376.799988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:48.000000pt;}
._a{width:144.064000pt;}
._3{width:167.040000pt;}
._c{width:193.728000pt;}
._6{width:227.648000pt;}
._b{width:318.144000pt;}
._8{width:357.248000pt;}
._7{width:485.248000pt;}
._9{width:639.872000pt;}
._4{width:664.896000pt;}
._1{width:703.936000pt;}
._5{width:732.352000pt;}
._2{width:743.040000pt;}
.fs1{font-size:50.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:88.000000pt;}
.y5{bottom:38.548004pt;}
.y4{bottom:53.113336pt;}
.y3{bottom:69.697336pt;}
.y2{bottom:94.994668pt;}
.y24{bottom:101.146681pt;}
.y0{bottom:116.000000pt;}
.y23{bottom:119.545363pt;}
.y22{bottom:193.140008pt;}
.y21{bottom:211.538649pt;}
.y20{bottom:229.937331pt;}
.y1f{bottom:269.185318pt;}
.y1e{bottom:288.809320pt;}
.y1d{bottom:328.057326pt;}
.y1c{bottom:347.681349pt;}
.y1b{bottom:367.305332pt;}
.y1a{bottom:386.929315pt;}
.y19{bottom:406.553338pt;}
.y18{bottom:426.177321pt;}
.y17{bottom:445.801345pt;}
.y16{bottom:465.425327pt;}
.y15{bottom:485.049351pt;}
.y14{bottom:504.673333pt;}
.y13{bottom:524.297316pt;}
.y12{bottom:563.545322pt;}
.y11{bottom:583.169326pt;}
.y10{bottom:602.793329pt;}
.yf{bottom:622.417332pt;}
.ye{bottom:661.665338pt;}
.yd{bottom:720.537327pt;}
.yc{bottom:740.161330pt;}
.yb{bottom:779.409336pt;}
.ya{bottom:799.033329pt;}
.y9{bottom:818.657332pt;}
.y8{bottom:838.281329pt;}
.y7{bottom:857.905331pt;}
.y6{bottom:877.529331pt;}
.y1{bottom:892.466665pt;}
.h4{height:35.204427pt;}
.h6{height:43.343750pt;}
.h5{height:44.468750pt;}
.h3{height:59.597656pt;}
.h2{height:115.533335pt;}
.h1{height:896.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:620.000000pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x0{left:94.666667pt;}
.xa{left:97.800000pt;}
.xb{left:121.800001pt;}
.x4{left:158.970666pt;}
.x8{left:183.754671pt;}
.x2{left:205.432000pt;}
.x5{left:270.817337pt;}
.x3{left:276.921336pt;}
.x9{left:328.017326pt;}
.x6{left:372.000000pt;}
.x7{left:373.800008pt;}
.xc{left:502.399984pt;}
}
