.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._f{margin-left:-1.320000px;}
._d{width:1.804000px;}
._e{width:4.488000px;}
._9{width:24.156000px;}
._10{width:38.984000px;}
._c{width:83.336000px;}
._b{width:107.800000px;}
._a{width:127.336000px;}
._7{width:138.512000px;}
._1{width:140.932000px;}
._0{width:187.352000px;}
._2{width:248.468000px;}
._8{width:274.120000px;}
._5{width:312.004000px;}
._6{width:426.888000px;}
._3{width:470.932000px;}
._4{width:490.468000px;}
.fc5{color:rgb(90,102,97);}
.fc0{color:rgb(31,41,33);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(113,125,122);}
.fc4{color:rgb(0,0,255);}
.fc3{color:rgb(65,76,69);}
.fs1{font-size:38.000000px;}
.fs2{font-size:44.000000px;}
.fs0{font-size:66.000000px;}
.y4{bottom:28.911003px;}
.y3{bottom:39.835002px;}
.y2{bottom:52.273002px;}
.y2b{bottom:60.365009px;}
.y2a{bottom:73.857014px;}
.y29{bottom:87.349018px;}
.y28{bottom:100.841022px;}
.y27{bottom:114.333027px;}
.y26{bottom:127.825031px;}
.y25{bottom:149.317036px;}
.y24{bottom:161.966022px;}
.y0{bottom:173.000000px;}
.y23{bottom:174.615009px;}
.y22{bottom:225.211018px;}
.y21{bottom:237.860035px;}
.y20{bottom:250.509022px;}
.y1f{bottom:275.807028px;}
.y1e{bottom:301.256018px;}
.y1d{bottom:313.905018px;}
.y1c{bottom:340.889030px;}
.y1b{bottom:354.381031px;}
.y1a{bottom:367.873035px;}
.y19{bottom:381.365021px;}
.y18{bottom:394.857018px;}
.y17{bottom:408.349018px;}
.y16{bottom:435.333027px;}
.y15{bottom:448.825031px;}
.y14{bottom:462.317036px;}
.y13{bottom:475.809029px;}
.y12{bottom:489.301029px;}
.y11{bottom:502.793018px;}
.y10{bottom:516.285023px;}
.yf{bottom:529.777027px;}
.ye{bottom:543.269016px;}
.yd{bottom:556.761021px;}
.yc{bottom:577.410021px;}
.yb{bottom:605.059025px;}
.ya{bottom:630.357021px;}
.y9{bottom:642.977022px;}
.y8{bottom:678.227022px;}
.y7{bottom:702.655022px;}
.y6{bottom:715.304022px;}
.y5{bottom:727.953022px;}
.y1{bottom:738.223022px;}
.h4{height:26.403320px;}
.h6{height:30.550781px;}
.h5{height:30.572266px;}
.h3{height:44.698242px;}
.h2{height:67.677002px;}
.h1{height:640.000000px;}
.h0{height:841.900024px;}
.w1{width:468.500000px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.x5{left:72.000000px;}
.x0{left:80.000000px;}
.x3{left:121.302999px;}
.x2{left:145.724000px;}
.x4{left:193.443996px;}
.x6{left:225.000000px;}
.x7{left:376.799988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._f{margin-left:-1.760000pt;}
._d{width:2.405333pt;}
._e{width:5.984000pt;}
._9{width:32.208000pt;}
._10{width:51.978667pt;}
._c{width:111.114667pt;}
._b{width:143.733333pt;}
._a{width:169.781333pt;}
._7{width:184.682667pt;}
._1{width:187.909333pt;}
._0{width:249.802667pt;}
._2{width:331.290667pt;}
._8{width:365.493333pt;}
._5{width:416.005333pt;}
._6{width:569.184000pt;}
._3{width:627.909333pt;}
._4{width:653.957333pt;}
.fs1{font-size:50.666667pt;}
.fs2{font-size:58.666667pt;}
.fs0{font-size:88.000000pt;}
.y4{bottom:38.548004pt;}
.y3{bottom:53.113336pt;}
.y2{bottom:69.697336pt;}
.y2b{bottom:80.486679pt;}
.y2a{bottom:98.476018pt;}
.y29{bottom:116.465357pt;}
.y28{bottom:134.454697pt;}
.y27{bottom:152.444036pt;}
.y26{bottom:170.433375pt;}
.y25{bottom:199.089381pt;}
.y24{bottom:215.954697pt;}
.y0{bottom:230.666667pt;}
.y23{bottom:232.820012pt;}
.y22{bottom:300.281357pt;}
.y21{bottom:317.146713pt;}
.y20{bottom:334.012029pt;}
.y1f{bottom:367.742704pt;}
.y1e{bottom:401.674690pt;}
.y1d{bottom:418.540024pt;}
.y1c{bottom:454.518707pt;}
.y1b{bottom:472.508041pt;}
.y1a{bottom:490.497381pt;}
.y19{bottom:508.486694pt;}
.y18{bottom:526.476023pt;}
.y17{bottom:544.465357pt;}
.y16{bottom:580.444036pt;}
.y15{bottom:598.433375pt;}
.y14{bottom:616.422714pt;}
.y13{bottom:634.412038pt;}
.y12{bottom:652.401372pt;}
.y11{bottom:670.390691pt;}
.y10{bottom:688.380030pt;}
.yf{bottom:706.369370pt;}
.ye{bottom:724.358688pt;}
.yd{bottom:742.348028pt;}
.yc{bottom:769.880028pt;}
.yb{bottom:806.745366pt;}
.ya{bottom:840.476028pt;}
.y9{bottom:857.302696pt;}
.y8{bottom:904.302696pt;}
.y7{bottom:936.873362pt;}
.y6{bottom:953.738696pt;}
.y5{bottom:970.604029pt;}
.y1{bottom:984.297363pt;}
.h4{height:35.204427pt;}
.h6{height:40.734375pt;}
.h5{height:40.763021pt;}
.h3{height:59.597656pt;}
.h2{height:90.236003pt;}
.h1{height:853.333333pt;}
.h0{height:1122.533366pt;}
.w1{width:624.666667pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.x5{left:96.000000pt;}
.x0{left:106.666667pt;}
.x3{left:161.737332pt;}
.x2{left:194.298667pt;}
.x4{left:257.925329pt;}
.x6{left:300.000000pt;}
.x7{left:502.399984pt;}
}
