.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{width:1.248000px;}
._7{width:15.600000px;}
._6{width:36.000000px;}
._9{width:56.016000px;}
._4{width:72.528000px;}
._2{width:271.104000px;}
._5{width:364.032000px;}
._3{width:387.120000px;}
._0{width:435.168000px;}
._1{width:456.480000px;}
.fc5{color:rgb(90,102,97);}
.fc0{color:rgb(31,41,33);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(113,125,122);}
.fc4{color:rgb(0,0,255);}
.fc3{color:rgb(65,76,69);}
.fs1{font-size:38.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:66.000000px;}
.y4{bottom:42.339005px;}
.y3{bottom:53.263003px;}
.y2{bottom:65.701003px;}
.y21{bottom:101.892009px;}
.y20{bottom:116.610026px;}
.y1f{bottom:131.328044px;}
.y1e{bottom:146.046000px;}
.y1d{bottom:160.764018px;}
.y1c{bottom:183.482036px;}
.y1b{bottom:197.281047px;}
.y0{bottom:209.000000px;}
.y1a{bottom:211.080028px;}
.y19{bottom:266.276011px;}
.y18{bottom:280.075023px;}
.y17{bottom:307.673015px;}
.y16{bottom:344.190013px;}
.y15{bottom:366.908016px;}
.y14{bottom:381.626018px;}
.y13{bottom:396.344021px;}
.y12{bottom:411.062022px;}
.y11{bottom:433.780009px;}
.y10{bottom:479.216014px;}
.yf{bottom:501.934016px;}
.ye{bottom:531.370021px;}
.yd{bottom:546.088023px;}
.yc{bottom:560.806025px;}
.yb{bottom:575.524028px;}
.ya{bottom:590.242023px;}
.y9{bottom:612.960017px;}
.y8{bottom:635.678020px;}
.y7{bottom:658.396022px;}
.y6{bottom:699.793021px;}
.y5{bottom:713.592021px;}
.y1{bottom:724.795021px;}
.h4{height:26.403320px;}
.h6{height:33.328125px;}
.h5{height:33.351562px;}
.h3{height:44.698242px;}
.h2{height:81.105003px;}
.h1{height:604.000000px;}
.h0{height:841.900024px;}
.w1{width:468.500000px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.x7{left:72.000000px;}
.x0{left:80.000000px;}
.xa{left:90.000000px;}
.x8{left:114.549999px;}
.x9{left:117.000000px;}
.x3{left:121.302999px;}
.x2{left:145.724000px;}
.x4{left:193.443996px;}
.x5{left:202.591998px;}
.x6{left:244.088000px;}
.xb{left:376.799988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{width:1.664000pt;}
._7{width:20.800000pt;}
._6{width:48.000000pt;}
._9{width:74.688000pt;}
._4{width:96.704000pt;}
._2{width:361.472000pt;}
._5{width:485.376000pt;}
._3{width:516.160000pt;}
._0{width:580.224000pt;}
._1{width:608.640000pt;}
.fs1{font-size:50.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:88.000000pt;}
.y4{bottom:56.452006pt;}
.y3{bottom:71.017338pt;}
.y2{bottom:87.601337pt;}
.y21{bottom:135.856012pt;}
.y20{bottom:155.480035pt;}
.y1f{bottom:175.104059pt;}
.y1e{bottom:194.728001pt;}
.y1d{bottom:214.352024pt;}
.y1c{bottom:244.642714pt;}
.y1b{bottom:263.041396pt;}
.y0{bottom:278.666667pt;}
.y1a{bottom:281.440037pt;}
.y19{bottom:355.034682pt;}
.y18{bottom:373.433364pt;}
.y17{bottom:410.230686pt;}
.y16{bottom:458.920017pt;}
.y15{bottom:489.210688pt;}
.y14{bottom:508.834690pt;}
.y13{bottom:528.458694pt;}
.y12{bottom:548.082696pt;}
.y11{bottom:578.373346pt;}
.y10{bottom:638.954685pt;}
.yf{bottom:669.245355pt;}
.ye{bottom:708.493361pt;}
.yd{bottom:728.117364pt;}
.yc{bottom:747.741367pt;}
.yb{bottom:767.365370pt;}
.ya{bottom:786.989363pt;}
.y9{bottom:817.280023pt;}
.y8{bottom:847.570693pt;}
.y7{bottom:877.861362pt;}
.y6{bottom:933.057362pt;}
.y5{bottom:951.456028pt;}
.y1{bottom:966.393361pt;}
.h4{height:35.204427pt;}
.h6{height:44.437500pt;}
.h5{height:44.468750pt;}
.h3{height:59.597656pt;}
.h2{height:108.140004pt;}
.h1{height:805.333333pt;}
.h0{height:1122.533366pt;}
.w1{width:624.666667pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.x7{left:96.000000pt;}
.x0{left:106.666667pt;}
.xa{left:120.000000pt;}
.x8{left:152.733332pt;}
.x9{left:156.000000pt;}
.x3{left:161.737332pt;}
.x2{left:194.298667pt;}
.x4{left:257.925329pt;}
.x5{left:270.122664pt;}
.x6{left:325.450667pt;}
.xb{left:502.399984pt;}
}
