.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.709473;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.584000px;}
._6{width:10.416000px;}
._5{width:15.216000px;}
._3{width:271.104000px;}
._4{width:403.152000px;}
._1{width:435.168000px;}
._2{width:456.480000px;}
.fc5{color:rgb(90,102,97);}
.fc0{color:rgb(31,41,33);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(113,125,122);}
.fc4{color:rgb(0,0,255);}
.fc3{color:rgb(65,76,69);}
.fs1{font-size:38.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:66.000000px;}
.y5{bottom:15.483002px;}
.y4{bottom:26.407001px;}
.y3{bottom:38.845000px;}
.y2{bottom:57.818000px;}
.y19{bottom:150.397021px;}
.y0{bottom:161.500000px;}
.y18{bottom:164.196002px;}
.y17{bottom:219.391986px;}
.y16{bottom:233.190997px;}
.y15{bottom:246.990008px;}
.y14{bottom:302.185992px;}
.y13{bottom:324.904010px;}
.y12{bottom:370.340014px;}
.y11{bottom:415.776005px;}
.y10{bottom:430.494006px;}
.yf{bottom:459.929996px;}
.ye{bottom:474.647998px;}
.yd{bottom:489.366000px;}
.yc{bottom:504.084003px;}
.yb{bottom:518.802005px;}
.ya{bottom:541.520000px;}
.y9{bottom:556.238002px;}
.y8{bottom:578.955997px;}
.y7{bottom:634.151999px;}
.y6{bottom:647.950999px;}
.y1{bottom:682.778000px;}
.h4{height:26.403320px;}
.h5{height:32.531250px;}
.h7{height:33.328125px;}
.h6{height:33.351562px;}
.h3{height:44.730469px;}
.h2{height:73.222000px;}
.h1{height:597.500000px;}
.h0{height:792.000000px;}
.w1{width:465.000000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x0{left:71.000000px;}
.x8{left:114.549999px;}
.x4{left:119.227999px;}
.x2{left:154.074000px;}
.x5{left:203.113003px;}
.x3{left:207.691002px;}
.x6{left:248.257007px;}
.x7{left:304.099994px;}
.x9{left:376.799988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-2.112000pt;}
._6{width:13.888000pt;}
._5{width:20.288000pt;}
._3{width:361.472000pt;}
._4{width:537.536000pt;}
._1{width:580.224000pt;}
._2{width:608.640000pt;}
.fs1{font-size:50.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:88.000000pt;}
.y5{bottom:20.644002pt;}
.y4{bottom:35.209334pt;}
.y3{bottom:51.793334pt;}
.y2{bottom:77.090666pt;}
.y19{bottom:200.529362pt;}
.y0{bottom:215.333333pt;}
.y18{bottom:218.928003pt;}
.y17{bottom:292.522648pt;}
.y16{bottom:310.921329pt;}
.y15{bottom:329.320011pt;}
.y14{bottom:402.914656pt;}
.y13{bottom:433.205346pt;}
.y12{bottom:493.786686pt;}
.y11{bottom:554.368006pt;}
.y10{bottom:573.992008pt;}
.yf{bottom:613.239994pt;}
.ye{bottom:632.863997pt;}
.yd{bottom:652.488000pt;}
.yc{bottom:672.112003pt;}
.yb{bottom:691.736006pt;}
.ya{bottom:722.026667pt;}
.y9{bottom:741.650669pt;}
.y8{bottom:771.941329pt;}
.y7{bottom:845.535999pt;}
.y6{bottom:863.934666pt;}
.y1{bottom:910.370667pt;}
.h4{height:35.204427pt;}
.h5{height:43.375000pt;}
.h7{height:44.437500pt;}
.h6{height:44.468750pt;}
.h3{height:59.640625pt;}
.h2{height:97.629333pt;}
.h1{height:796.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:620.000000pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x0{left:94.666667pt;}
.x8{left:152.733332pt;}
.x4{left:158.970666pt;}
.x2{left:205.432000pt;}
.x5{left:270.817337pt;}
.x3{left:276.921336pt;}
.x6{left:331.009342pt;}
.x7{left:405.466658pt;}
.x9{left:502.399984pt;}
}
